html {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: teal;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
}

header nav {
    text-align: end;
}

header nav li {
    list-style: none;
    display: inline;
    background-color: lightblue;
    padding: 10px;
    margin-right: 10px;
}

header nav li a {
    text-decoration-line: none;
}

h1 {
    margin-top: 60px;
    text-align: center;
}

h2 {
    text-align: center;
}

main {
    max-width: 800px;
    margin: auto;
    background: lightgrey;
}

.upper-icon {
    font-size: 20px;
    position: fixed;
}

.main-image {
    padding: 20px;
    background-color: black;
    color: white
}

.main-image img {
    display: block;
    width: 100%;
}

footer {
    width: 100%;
    background-color: green;
}

#contact {
    background: slategray;
    max-width: 300px;
    margin: auto;
    padding: 20px;
}

label {
    display: block;
}

input {
    display: block;
    width: 100%;
}

h4 {
    text-align: center;
}

p {
    margin: 15px;
}

.send-button {
    text-align: center;
}

.send-button button {
    padding: 10px;
    margin-top: 5px;
    text-transform: uppercase;
}